* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #fff;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: transparent; 
  border-bottom: 2px solid #CDC6C3; 
  position: absolute; 
  width: 100%;
  z-index: 10;
}

.nav-left a, .nav-right a {
  margin: 0 25px;
  text-decoration: none;
  color: #4F5141; 
  font-weight: 500;
  font-size: 22px;
}

.nav-left a:hover, .nav-right a:hover {
  color: #A38F85; 
}

.logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 56px;
  font-weight: 700;
}

.logo a {
  text-decoration: none;
  color: #4F5141;
}

.logo a:hover {
  color: #A38F85;
}

.hero {
  background-image: url('logo.jpeg');
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}



.hero h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
  margin-bottom: 10px;
  z-index: 1;
}

.hero p {
  font-size: 22px;
  margin-bottom: 25px;
  z-index: 1;
}





footer {
  background: #f4f4f4;
  text-align: center;
  padding: 25px;
  color: #555;
}